interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://tablebase.lichess.ovh/standard?fen=5K2/7P/8/8/7P/k7/1p6/8%20w%20-%20-%200%2051
  response:
    body:
      string: '{"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":1,"precise_dtz":1,"dtm":37,"dtw":null,"category":"win","moves":[{"uci":"h7h8q","san":"h8=Q","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":-36,"dtw":null,"category":"loss"},{"uci":"h4h5","san":"h5","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":0,"precise_dtz":0,"dtm":0,"dtw":null,"category":"draw"},{"uci":"f8e7","san":"Ke7","zeroing":false,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":[...]
