interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://tablebase.lichess.ovh/standard?fen=4k3/8/8/8/8/8/3PPPPP/4K3%20w%20-%20-%200%201
  response:
    body:
      string: '{"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":1,"precise_dtz":1,"dtm":null,"dtw":null,"category":"win","moves":[{"uci":"d2d3","san":"d3","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":null,"dtw":null,"category":"loss"},{"uci":"e2e3","san":"e3","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":null,"dtw":null,"category":"loss"},{"uci":"f2f3","san":"f3","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_lo[...]
