interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://tablebase.lichess.ovh/standard?fen=5K2/8/7p/6P1/1p5P/k7/8/8%20w%20-%20-%200%2049
  response:
    body:
      string: '{"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":1,"precise_dtz":1,"dtm":null,"dtw":null,"category":"win","moves":[{"uci":"g5h6","san":"gxh6","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":-40,"dtw":null,"category":"loss"},{"uci":"h4h5","san":"h5","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":0,"precise_dtz":0,"dtm":null,"dtw":null,"category":"draw"},{"uci":"g5g6","san":"g6","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss"[...]
