interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://tablebase.lichess.ovh/standard?fen=8/8/5p2/4p3/p3K1P1/k4P2/8/8%20b%20-%20-%201%2047
  response:
    body:
      string: '{"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":3,"precise_dtz":null,"dtm":null,"dtw":null,"category":"win","moves":[{"uci":"a3b2","san":"Kb2","zeroing":false,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":null,"dtw":null,"category":"loss"},{"uci":"a3b3","san":"Kb3","zeroing":false,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":null,"dtw":null,"category":"loss"},{"uci":"a3b4","san":"Kb4","zeroing":false,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-2,"precise_dtz":-2,"dtm":null,"dtw":null,"category":"loss"},{"uci":"a3a2","san":"Ka2","zeroing":false,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":-4,"precise_dtz":null,"dtm":null,"dtw":null,"category":"loss"},{"uci":"f6f5","san":"f5+","zeroing":true,"checkmate":false,"stalemate":false,"variant_win":false,"variant_loss":false,"insufficient_material":false,"dtz":1,"precise_dtz":1,"dtm":null,"dtw":null,"category":"win"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
